<header>
  <h2>Http Client</h2>
</header>
<p class="small">
  Penser à importer le module <strong>HttpClientModule</strong> dans le
  <em>AppModule</em>
</p>

<button class="btn btn-outline-primary" (click)="getUsers()">
  Afficher les utilisateurs
</button>

<table class="table mt-3">
  <thead>
    <tr class="table-dark">
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Adresse</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users$ | async">
      <td class="table-danger">{{ user.id }}</td>
      <td class="table-success">{{ user.name }}</td>
      <td class="table-primary">{{ user.email }}</td>
      <td class="table-secondary">{{ user.phone }}</td>
      <td class="table-warning">
        <app-address [address]="user.address"></app-address>
      </td>
    </tr>
  </tbody>
</table>
