<div class="container-fluid">
  <nav class="nav nav-tabs">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/presentation">Présentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/todo">Exercise Todo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/filtre">Filtre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/directive">Directive</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/locale">Locale</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/custom-pipe">Custom-pipe</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/formulaire">Formulaire</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">Inscription</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/service">Service</a>
      </li>
    </ul>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>
    <hr />
    <p class="text-center small">
      Angular 11 - Dawan FOAD - POE Front End Paris
    </p>
  </footer>
</div>
