<div class="container-fluid">
  <nav class="nav nav-tabs navbar-dark" style="background-color: #ff8a5b">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/">Accueil</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/presentation">Présentation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/todo">Exercise Todo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/filtre">Filtre</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/directive">Directive</a>
      </li>
    </ul>
  </nav>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer></footer>
</div>
